.btn {
  color: #000;
  display: inline-block;
  text-decoration: none;
  font-family: Arial, sans-serif;
  text-align: center;
  font-size: 1rem;
  line-height: 1.42857143;
  padding: 0.8rem 1rem;
  margin-bottom: 10px;
  border: 1px solid #000;
  white-space: nowrap;
  vertical-align: middle;
  transition: background-color 0.15s ease-in-out;
}

.btn:hover {
  color: #fff;
  background-color: #000;
}
